
.container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:#050505f0;
    padding: 15px;
    box-shadow: 0 0 20px #000;
}

.navbar a button{
    padding: 8px 19px;
    font-size: 15px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 2px;
margin-top: -20px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.logo{
    margin-right: 50px;
}
  .logo span{
    font-size: 30px;
    color: red;

}
.logo img{
    height: 26px;
}
.list{
    list-style: none;
    display: flex;
    pointer-events: none;
    gap: 20px;
}
.list *{
    transition:  .2s;
}

.list:hover > * {
    opacity: 0.3;
}
.list > *{
    pointer-events: auto;
}
.list:hover > * :hover{
    opacity: 1;
}

#toggler , .navbar label{
    display: none;
    color: #fff;
}
@media(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}